In [2]:
from sqlalchemy import create_engine
import psycopg2

In [4]:
engine = create_engine('postgresql://avnadmin:AVNS_h-Wx6WtyD8XkaDsTgo7@database-cultiville.e.aivencloud.com:12670/defaultdb?sslmode=require')

In [5]:
%load_ext sql

ModuleNotFoundError: No module named 'sql'

In [5]:
%sql postgresql://postgres:1234@localhost/dbvendastech

# Cria√ß√£o das tabelas

In [20]:
%%sql
-- dbVendasTech

-- Cria√É¬ß√É¬£o de tabelas
CREATE TABLE Clientes (
    ClienteID SERIAL PRIMARY KEY,
    Nome VARCHAR(255) NOT NULL,
    Email VARCHAR(255) UNIQUE NOT NULL,
    Telefone VARCHAR(50)
);

CREATE TABLE Produtos (
    ProdutoID SERIAL PRIMARY KEY,
    Nome VARCHAR(255) NOT NULL,
    Preco DECIMAL(10,2) NOT NULL,
    QuantidadeEstoque INT DEFAULT 0
);

CREATE TABLE Pedidos (
    PedidoID SERIAL PRIMARY KEY,
    ClienteID INT NOT NULL,
    DataPedido DATE NOT NULL,
    TotalPedido DECIMAL(10,2) DEFAULT 0,
    Status VARCHAR(50),
    FOREIGN KEY (ClienteID) REFERENCES Clientes(ClienteID)
);

CREATE TABLE ItensPedido (
    ItemID SERIAL PRIMARY KEY,
    PedidoID INT NOT NULL,
    ProdutoID INT NOT NULL,
    Quantidade INT NOT NULL,
    PrecoUnitario DECIMAL(10,2) NOT NULL,
    FOREIGN KEY (PedidoID) REFERENCES Pedidos(PedidoID),
    FOREIGN KEY (ProdutoID) REFERENCES Produtos(ProdutoID)
);

CREATE TABLE HistoricoEstoque (
    HistoricoID SERIAL PRIMARY KEY,
    ProdutoID INT NOT NULL,
    DataModificacao TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    QuantidadeAlterada INT NOT NULL,
    Motivo VARCHAR(255),
    FOREIGN KEY (ProdutoID) REFERENCES Produtos(ProdutoID)
);

-- Inser√É¬ß√É¬£o de registros
INSERT INTO Clientes (Nome, Email, Telefone) VALUES
('Jo√É¬£o Silva', 'joao.silva@email.com', '11987654321'),
('Maria Oliveira', 'maria.oliveira@email.com', '21987654321'),
('Carlos Souza', 'carlos.souza@email.com', '31987654321'),
('Ana Costa', 'ana.costa@email.com', '41987654321'),
('Pedro Santos', 'pedro.santos@email.com', '51987654321');

INSERT INTO Produtos (Nome, Preco, QuantidadeEstoque) VALUES
('Notebook Pro 15', 5600.00, 15),
('Smartphone X', 2100.00, 30),
('Rel√≥gio Smart', 650.00, 50),
('Fone de Ouvido Bluetooth', 350.00, 40),
('Mochila Executiva', 230.00, 25);

INSERT INTO Pedidos (ClienteID, DataPedido, TotalPedido, Status) VALUES
(1, '2023-05-01', 0, 'Processando'),
(2, '2023-05-02', 0, 'Processando'),
(3, '2023-05-03', 0, 'Processando'),
(4, '2023-05-04', 0, 'Processando'),
(5, '2023-05-05', 0, 'Processando');

INSERT INTO ItensPedido (PedidoID, ProdutoID, Quantidade, PrecoUnitario) VALUES
(1, 1, 1, 5600.00),
(2, 2, 1, 2100.00),
(3, 3, 2, 650.00),
(4, 4, 1, 350.00),
(5, 5, 1, 230.00);

UPDATE Pedidos SET TotalPedido = (
    SELECT SUM(PrecoUnitario * Quantidade)
    FROM ItensPedido
    WHERE PedidoID = Pedidos.PedidoID
)
WHERE PedidoID IN (1, 2, 3, 4, 5);

INSERT INTO HistoricoEstoque (ProdutoID, QuantidadeAlterada, Motivo) VALUES
(1, -1, 'Venda'),
(2, -1, 'Venda'),
(3, -2, 'Venda'),
(4, -1, 'Venda'),
(5, -1, 'Venda');

 * postgresql://postgres:***@localhost/dbvendastech
Done.
Done.
Done.
Done.
Done.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.

[]

# Trigger

In [37]:
%%sql
SELECT * FROM Produtos ORDER BY produtoid;

 * postgresql://postgres:***@localhost/dbvendastech
5 rows affected.

[(1, 'Notebook Pro 15', Decimal('5600.00'), 15),
 (2, 'Smartphone X', Decimal('2100.00'), 30),
 (3, 'Rel√É¬≥gio Smart', Decimal('650.00'), 48),
 (4, 'Fone de Ouvido Bluetooth', Decimal('350.00'), 40),
 (5, 'Mochila Executiva', Decimal('230.00'), 25)]

In [34]:
%%sql
SELECT * FROM pedidos;

 * postgresql://postgres:***@localhost/dbvendastech
5 rows affected.

[(1, 1, datetime.date(2023, 5, 1), Decimal('5600.00'), 'Processando'),
 (2, 2, datetime.date(2023, 5, 2), Decimal('2100.00'), 'Processando'),
 (3, 3, datetime.date(2023, 5, 3), Decimal('1300.00'), 'Processando'),
 (4, 4, datetime.date(2023, 5, 4), Decimal('350.00'), 'Processando'),
 (5, 5, datetime.date(2023, 5, 5), Decimal('230.00'), 'Processando')]

In [27]:
%%sql
SELECT * FROM ItensPedido;

 * postgresql://postgres:***@localhost/dbvendastech
5 rows affected.
5 rows affected.

[(1, 1, 1, 1, Decimal('5600.00')),
 (2, 2, 2, 1, Decimal('2100.00')),
 (3, 3, 3, 2, Decimal('650.00')),
 (4, 4, 4, 1, Decimal('350.00')),
 (5, 5, 5, 1, Decimal('230.00'))]

## Atualizar estoque

### Fun√ß√£o

In [29]:
%%sql
CREATE OR REPLACE FUNCTION atualizar_estoque() 
RETURNS TRIGGER
AS
$$
	BEGIN
		UPDATE produtos SET quantidadeEstoque = quantidadeEstoque - NEW.quantidade WHERE produtoid = NEW.produtoid;
		RETURN NEW;
	END;
$$
LANGUAGE PLPGSQL;

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Trigger

In [32]:
%%sql
CREATE OR REPLACE TRIGGER trigger_atualizar_estoque
	AFTER INSERT ON ItensPedido
	FOR EACH ROW
	EXECUTE FUNCTION atualizar_estoque();

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Teste

In [36]:
%sql INSERT INTO ItensPedido (pedidoid, produtoid, quantidade, precounitario) VALUES (1, 3, 2, 650);

 * postgresql://postgres:***@localhost/dbvendastech
1 rows affected.

[]

In [38]:
%%sql
SELECT * FROM Produtos ORDER BY produtoid;

 * postgresql://postgres:***@localhost/dbvendastech
5 rows affected.

[(1, 'Notebook Pro 15', Decimal('5600.00'), 15),
 (2, 'Smartphone X', Decimal('2100.00'), 30),
 (3, 'Rel√É¬≥gio Smart', Decimal('650.00'), 42),
 (4, 'Fone de Ouvido Bluetooth', Decimal('350.00'), 40),
 (5, 'Mochila Executiva', Decimal('230.00'), 25)]

## Hist√≥rico Estoque

In [22]:
%%sql
SELECT * FROM HistoricoEstoque;

 * postgresql://postgres:***@localhost/dbvendastech
5 rows affected.

[(1, 1, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda'),
 (2, 2, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda'),
 (3, 3, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -2, 'Venda'),
 (4, 4, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda'),
 (5, 5, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda')]

### Fun√ß√£o

In [5]:
%%sql
CREATE OR REPLACE FUNCTION funcRegistraHistoricoEstoque() 
RETURNS TRIGGER
AS
$$
	DECLARE
		quantidade_nova INTEGER;
	BEGIN
		quantidade_nova := NEW.quantidadeEstoque - OLD.quantidadeEstoque;
		INSERT INTO HistoricoEstoque (produtoid, datamodificacao, quantidadealterada, motivo) VALUES (NEW.produtoid, NOW(), quantidade_nova, CASE WHEN quantidade_nova < 0 THEN 'Venda' ELSE 'Reposi√ß√£o' END);
		RETURN NEW;
	END;
$$
LANGUAGE PLPGSQL;

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Trigger

In [6]:
%%sql
CREATE OR REPLACE TRIGGER triggerRegistraHistoricoEstoque
	AFTER UPDATE OF quantidadeEstoque ON produtos
	FOR EACH ROW
	EXECUTE FUNCTION funcRegistraHistoricoEstoque();

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Teste

In [9]:
%sql INSERT INTO ItensPedido (pedidoid, produtoid, quantidade, precounitario) VALUES (1, 3, 2, 650);

 * postgresql://postgres:***@localhost/dbvendastech
1 rows affected.

[]

In [10]:
%%sql
SELECT * FROM HistoricoEstoque;

 * postgresql://postgres:***@localhost/dbvendastech
8 rows affected.

[(1, 1, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda'),
 (2, 2, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda'),
 (3, 3, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -2, 'Venda'),
 (4, 4, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda'),
 (5, 5, datetime.datetime(2024, 5, 9, 7, 17, 15, 866), -1, 'Venda'),
 (7, 3, datetime.datetime(2024, 5, 14, 11, 2, 23, 113242), -2, 'Venda'),
 (8, 3, datetime.datetime(2024, 5, 16, 7, 12, 33, 338659), -2, 'Venda'),
 (9, 3, datetime.datetime(2024, 5, 16, 7, 13, 3, 334466), -2, 'Venda')]

## Validar Quantidade

### Fun√ß√£o

In [26]:
%%sql
CREATE OR REPLACE FUNCTION funcValidaQuantidadeProduto() 
RETURNS TRIGGER
AS
$$
	BEGIN
		IF NEW.quantidade > (SELECT quantidadeEstoque FROM produtos WHERE produtoid = NEW.produtoid) THEN
			RAISE EXCEPTION 'N√£o tem essa quantidade em estoque! üò•';
		END IF;
		RETURN NEW;
	END;
$$
LANGUAGE PLPGSQL;

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Trigger

In [18]:
%%sql
CREATE OR REPLACE TRIGGER triggerValidaQuantidadeProduto
	BEFORE INSERT ON ItensPedido
	FOR EACH ROW
	EXECUTE FUNCTION funcValidaQuantidadeProduto();

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Teste

In [25]:
%sql INSERT INTO ItensPedido (pedidoid, produtoid, quantidade, precounitario) VALUES (1, 3, 42, 650);

 * postgresql://postgres:***@localhost/dbvendastech
1 rows affected.

[]

In [28]:
%%sql
SELECT * FROM pedidos;

 * postgresql://postgres:***@localhost/dbvendastech
5 rows affected.

[(1, 1, datetime.date(2023, 5, 1), Decimal('5600.00'), 'Processando'),
 (2, 2, datetime.date(2023, 5, 2), Decimal('2100.00'), 'Processando'),
 (3, 3, datetime.date(2023, 5, 3), Decimal('1300.00'), 'Processando'),
 (4, 4, datetime.date(2023, 5, 4), Decimal('350.00'), 'Processando'),
 (5, 5, datetime.date(2023, 5, 5), Decimal('230.00'), 'Processando')]

## Validar Quantidade

### Fun√ß√£o

In [18]:
%%sql
CREATE OR REPLACE FUNCTION funcAtualizaTotalPedido() 
RETURNS TRIGGER
AS
$$
	DECLARE
		valor NUMERIC;
	BEGIN
		SELECT preco*NEW.quantidade FROM produtos WHERE produtoid = NEW.produtoid INTO valor;
		UPDATE pedidos SET totalpedido = totalpedido + valor WHERE pedidoid = NEW.pedidoid;
		RETURN NEW;
	END;
$$
LANGUAGE PLPGSQL;

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Trigger

In [13]:
%%sql
CREATE OR REPLACE TRIGGER triggerAtualizaTotalPedido
	AFTER INSERT ON ItensPedido
	FOR EACH ROW
	EXECUTE FUNCTION funcAtualizaTotalPedido();

 * postgresql://postgres:***@localhost/dbvendastech
Done.

[]

### Teste

In [19]:
%sql INSERT INTO ItensPedido (pedidoid, produtoid, quantidade, precounitario) VALUES (1, 2, 2, 650);

 * postgresql://postgres:***@localhost/dbvendastech
1 rows affected.

[]

In [20]:
%%sql
SELECT * FROM pedidos;

 * postgresql://postgres:***@localhost/dbvendastech
5 rows affected.

[(2, 2, datetime.date(2023, 5, 2), Decimal('2100.00'), 'Processando'),
 (3, 3, datetime.date(2023, 5, 3), Decimal('1300.00'), 'Processando'),
 (4, 4, datetime.date(2023, 5, 4), Decimal('350.00'), 'Processando'),
 (5, 5, datetime.date(2023, 5, 5), Decimal('230.00'), 'Processando'),
 (1, 1, datetime.date(2023, 5, 1), Decimal('9800.00'), 'Processando')]